.error,
.success {
  font-size: 16px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
  animation: FadeAnimation 1s ease-in 0.2s forwards;
}

.error {
  color: red;
}

.success {
  color: green;
}

.blog {
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px 10px;
}

.blog p {
  margin: 3px 0;
}

.inline p {
  display: inline-block;
}

.inline button {
  margin: 0 10px;
}
